<!-- <form action='/events'><button type='submit'>Events Dashboard</button></form> -->
<% if current_user %>
  <form action='/sessions/<%= current_user.id %>' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <button type='submit' value='Log Out'>Log Out</button>
  </form>
<% end %>